.wrap{
  width: 100%;
  padding : 0 20px;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;

  display: flex;
  gap:100px;

  .calenderWrap{
    max-width: 600px;
    .header{
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      button{
        border-radius: 99px;
        padding: 8px;
        border: 1px solid #f87171;
        background-color : transparent;

      }

    }
  }

  .calenderListWrap{
    max-width: 600px;
  }


}
